<div class="row mt-3 mx-2 p-2 d-flex justify-content-center">
    <div class="col-lg-6 h-100 w-100 shadow card  ">
        <form ng-submit="forgetPassword()" name="formForgetPassword">
            <div class="user-image text-center w-100">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="form-group my-4">
                <label class="mb-2">TÊN ĐĂNG NHẬP</label>

                <input type="text" class="form-control" placeholder="Username" style="border-radius: 20px;"
                    ng-model="student.username" name="username" required>
                    <small ng-show="formForgetPassword.username.$invalid">Vui lòng nhập tên đăng nhập</small>
            </div>
            <div class="form-group my-4">
                <label class="mb-2">EMAIL</label>
                <input type="email" class="form-control" placeholder="Email" style="border-radius: 20px;"
                    ng-model="student.email" name="email">
                    <small ng-show="formForgetPassword.email.$invalid">Vui lòng nhập email đúng định dạng</small>
            </div>

            <div class="form-group my-4">
                <label class="mb-2">MẬT KHẨU</label>
                <input type="text" class="form-control" placeholder="Password" style="border-radius: 20px;"
                    ng-model="student.password" disabled>
            </div>

            <!-- <div class="form-group my-4">
                <label for=""><input type="checkbox" class="form-check-inline"> Nhớ mật khẩu ?</label>
            </div> -->

            <div class="form-group my-4">
                <button class="btn-form w-100 p-2">Quên mật khẩu</button>
            </div>
        </form>


    </div>


</div>