<div class="row mt-3 mx-2 p-2 d-flex justify-content-center">
    <div class="col-lg-6 h-100 w-100 shadow card  ">
        <form ng-submit="save($event)" name="formRegister">
            <div class="user-image text-center w-100">
                <i class="bi bi-person-circle"></i>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group my-4">
                        <label class="mb-2">TÊN ĐĂNG NHẬP</label>
                        <input type="text" class="form-control" placeholder="Username" style="border-radius: 20px;"
                            ng-model="student.username" name="username" ng-minlength="5" required>
                        <small ng-show="formRegister.username.$invalid">Tên đăng nhập phải lớp hơn 5 kí tự</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group my-4">
                        <label class="mb-2">HỌ VÀ TÊN</label>
                        <input type="text" class="form-control" placeholder="Fullname" style="border-radius: 20px;"
                            ng-model="student.fullname" name="fullname" required>
                        <small ng-show="formRegister.fullname.$invalid">Vui lòng nhập họ và tên</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group my-4">
                        <label class="mb-2">NGÀY SINH</label>
                        <input type="date" class="form-control" placeholder="Username" style="border-radius: 20px;"
                            ng-model="student.birthday" name="birthday" required>
                        <small ng-show="formRegister.birthday.$invalid">Vui lòng nhập ngày sinh</small>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group my-4">
                        <label class="mb-2">MẬT KHẨU</label>
                        <input type="password" class="form-control" placeholder="Username"
                            style="border-radius: 20px;" ng-model="student.password" required name="password" minlength="6">
                        <small ng-show="student.password != student.rePassword">Vui lòng nhập trùng mật khẩu</small>
                        <br>
                        <small ng-show="formRegister.password.$invalid">Mật khẩu phải lớn hơn 6 kí tự</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group my-4">
                        <label class="mb-2">NHẬP LẠI MẬT KHẨU</label>
                        <input type="password" class="form-control" placeholder="Username"
                            style="border-radius: 20px;" ng-model="student.rePassword" id="repassword">
                        <small ng-show="student.password != student.rePassword">Vui lòng nhập trùng mật khẩu</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group my-4">
                        <label class="mb-2">EMAIL</label>
                        <input type="email" class="form-control" placeholder="Username" style="border-radius: 20px;"
                            ng-model="student.email" name="email" required>
                        <small ng-show="formRegister.birthday.$invalid">Vui lòng nhập ngày sinh</small>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group my-4">
                        <label for="">GIỚI TÍNH</label>
                        <input type="radio" class="form-check-inline mx-1" name="gender" value="true"
                            ng-model="student.gender" checked> NAM
                        <input type="radio" class="form-check-inline mx-1" name="gender" value="false"
                            ng-model="student.gender"> NỮ

                    </div>
                </div>

            </div>

            <div class="form-group my-4">
                <button class="btn-form p-2 w-100" style="border-radius: 20px;" type="submit">Đăng Ký</button>
            </div>
        </form>


    </div>


</div>