USE [master]
GO
/****** Object:  Database [QuizApp]    Script Date: 2/21/2023 10:32:15 PM ******/
CREATE DATABASE [QuizApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuizApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuizApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizApp]
GO
/****** Object:  Table [dbo].[students]    Script Date: 2/21/2023 10:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[username] [nvarchar](200) NOT NULL,
	[birthday] [datetime2](6) NULL,
	[email] [varchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[gender] [bit] NOT NULL,
	[marks] [float] NULL,
	[password] [varchar](255) NULL,
	[school_fee] [float] NULL,
 CONSTRAINT [PK__students__F3DBC573716DDAB9] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([username], [birthday], [email], [fullname], [gender], [marks], [password], [school_fee]) VALUES (N'demo123', CAST(N'2023-02-18T00:00:00.0000000' AS DateTime2), N'vandu@gmail.com', N'vandu', 1, NULL, N'1234567', NULL)
INSERT [dbo].[students] ([username], [birthday], [email], [fullname], [gender], [marks], [password], [school_fee]) VALUES (N'vandu', CAST(N'2023-01-16T00:00:00.0000000' AS DateTime2), N'vandu@gmail.com', N'Dự', 0, NULL, N'12345', NULL)
INSERT [dbo].[students] ([username], [birthday], [email], [fullname], [gender], [marks], [password], [school_fee]) VALUES (N'vandu123', CAST(N'2023-02-17T00:00:00.0000000' AS DateTime2), N'vandu@gmail.com', N'văn dự', 1, NULL, N'123456', NULL)
GO
USE [master]
GO
