.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #AA0000;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: black;
}

.dropdown-menu a {
    font-size: 15px;
}

.navbar-light .btn {
    border-radius: 0px;

}

.service-item {
    background: var(--light);
    transition: .5s;

}

.service-item i {
    font-size: 50px;
}

.service-item:hover {
    margin-top: -10px;
    background: #339966;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: white;
}

.container-fluid title {
    width: 100%;
    text-align: center;
}

.team-item a {
    background-color: #339966;
    color: white;
}

.team-item a:hover {
    background-color: #00CC99;
    color: white;
}

.team-item img {
    transition: 0.5s;
}

.team-item:hover img {

    transform: scale(1.3);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(/images/student-gccdfb5c12_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header nav ol {
    background: rgba(0, 0, 0, 0)
}

.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #339966;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: #339966;
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: #339966;
    z-index: -1;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.btn.btn-link:hover {
    letter-spacing: 1px;

}

.info-card {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #339966;

}

.info-card i {
    color: white;
    font-size: 95px;

}

.back-to-top {
    position: fixed;
    background-color: #339966;
   
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.back-to-top i{
    color: white;
}

.nav-pills .nav-link:active{
    background-color: #339966;
    color: white;
}